<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaogandeng.dao.LightStatusLogMapper">

    <resultMap type="com.gaogandeng.model.Light" id="LightResult">
        <id property="id" column="id"/>
        <result property="deviceId" column="device_id"/>
        <result property="groupId" column="group_id"/>
        <result property="inGroupId" column="in_group_id"/>
    </resultMap>

    <select id="findLightById" resultMap="LightResult" parameterType="Integer">
        SELECT * FROM lights WHERE id = #{lightId}
    </select>

    <resultMap id="LightStatusResult" type="com.gaogandeng.model.LightStatusLog">
        <id property="id" column="id"/>
        <result property="vol" column="light_vol"/>
        <result property="cur" column="light_cur"/>
        <result property="pow" column="light_pow"/>
        <result property="bright" column="light_bright"/>
        <result property="enviBright" column="envi_bright"/>
        <result property="temperature" column="temperature"/>
        <result property="infoTime" column="create_time"/>
        <association property="light" column="light_id" select="findLightById"/>
    </resultMap>

    <insert id="insertLightStatus" parameterType="LightStatusLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO lightstatuslogs (light_id, light_vol, light_cur, light_pow, light_bright, envi_bright, temperature) VALUES (
        #{light.id}, #{vol}, #{cur}, #{pow}, #{bright}, #{enviBright}, #{temperature}
        )
    </insert>

    <select id="findLightStatus" parameterType="com.gaogandeng.QueryCondition.LightStatusQuery" resultMap="LightStatusResult">
        SELECT * FROM lightstatuslogs WHERE TRUE
        <if test="lightId != null">
            AND light_id = #{lightId}
        </if>

        <if test="startTime != null">
            AND create_time >= #{startTime}
        </if>

        <if test="endTime != null">
            AND create_time &lt;= #{endTime}
        </if>
    </select>

    <select id="findLatestStatus" resultMap="LightStatusResult" parameterType="Integer">
        SELECT * FROM lightstatuslogs WHERE light_id = #{lightId} ORDER BY create_time DESC limit 1
    </select>

</mapper>