<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaogandeng.dao.UserMapper">

    <resultMap type="com.gaogandeng.model.User" id="UserResult">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="authority" column="authority"/>
        <result property="phone" column="phone"/>
        <result property="address" column="address"/>
    </resultMap>

    <select id="findAllUsers" resultMap="UserResult">
        SELECT * FROM users
    </select>

    <select id="findUserByName" resultMap="UserResult" parameterType="String">
        SELECT * FROM users WHERE user_name = #{userName}
    </select>

    <select id="findUserById" resultMap="UserResult" parameterType="Integer">
        SELECT * FROM users WHERE user_id = #{userId}
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="user_id">
        INSERT INTO users(user_name, password, authority, phone, address) VALUE (
        #{userName}, #{password}, #{authority}, #{phone}, #{address}
        )
    </insert>
</mapper>